{{#button}}
  <button class="btn btn-sm btn-neutral batch-action-button" data-key="{{dataKey}}" data-value="{{dataValue}}" data-prop="{{dataProp}}" title data-placement="bottom" type="button" data-toggle="tooltip" data-original-title="{{tooltip}}">
    <i class="fa {{icon}}"></i>
    <span class="hidden-kxs">
      {{text}}
    </span>
  </button>
{{/button}}
{{#link}}
  <a class="btn btn-sm btn-neutral batch-action-link" href="{{href}}" title data-placement="bottom" type="button" data-toggle="tooltip" data-original-title="{{tooltip}}">
    <i class="fa {{icon}}"></i>
    <span class="hidden-kxs">
      {{text}}
    </span>
  </a>
{{/link}}
